.inicio-container{
    display: flex;
    align-items: center;
    position: relative;
}

.inicio-container::after,
.inicio-container::before{
    content: " ";
    width: 28.125rem;
    height: 28.125rem;
    border-radius: 28.125rem;
    background: #6852ba;
    position: absolute;
    z-index: -1;
    filter: blur(225px);
}

.inicio-container::after{
    top: -3rem;
    left: -5rem;
}

.inicio-container::before{
    bottom: 2rem;
    right: 0rem;
}

.inicio-content{
    flex: 1;
}

.inicio-container h2{
    font-size: 3.8rem;
    font-weight: 600;
    line-height: 5rem;
    margin-bottom: 1rem;
}

.inicio-content p{
    width: 80%;
    font-size: 1rem;
    font-weight: 400;
    line-height: 2rem;
}

.half-fade {
    position: relative;
}

.fade-in-out {
    position: absolute;
    overflow: hidden;
    width: 0;
    height: 100%;
    animation: fade-in-out 4s infinite;
}

@keyframes fade-in-out {
    0%, 50% {
        width: 0;
        opacity: 0;
    }
    55%, 100% {
        width: 100%;
        opacity: 1;
    }
}


.inicio-img img{
    width: 50%;
    height: auto;
    margin-left: 50%;
    border-radius: 50%;
    flex: 1;
    display: flex;
    margin-right: 10px;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    margin-top: 5rem;
}

.tech-icon{
    width: 5rem;
    height: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    display: inline-block;
    text-align: center;  
    border-radius: 0.65rem;
    border: 1.5px solid #6852ba
}

.tech-icon img{
    width: 3rem; 
    height: auto;
    transition: all 0.3s ease;
}

.inicio-img > div > img:hover,
.tech-icon img:hover{
    transform: translateY(-0.5rem);
}

@media (max-width: 1025px) {
    .inicio-content h2{
        font-size: 3rem;
        line-height: 4rem;
    }

    .inicio-content p{
        font-size: 0.9rem;
        line-height: 1.6rem;
    }

    .inicio-img > div > img{
        width: 20rem;
    }
    
    .tech-icon {
        width: 4rem;
        height: 4rem;
    }

    .tech-icon img{
        width: 2.5rem;
        height: 2.5rem;
    }
}

@media (max-width: 768px) {
    .inicio-container{
        flex-direction: column;
    }

    .inicio-img{
        margin: 2rem 0 2rem 0;
    }

    .inicio-container h2{
        margin-top: 3rem;
    }

    .inicio-content h2,
    .inicio-content p {
        width: auto;
        text-align: center;
    }

    .inicio-container::after,
    .inicio-container::before{
        content: " ";
        width: 18rem;
        height: 18rem;
    }

    .inicio-container::after{
        top: 0rem;
        left: 0rem;
    }

    .inicio-container::before{
        bottom: 2rem;
        right: 0rem;
    }

    .fade-in-out {
        position: relative;
        overflow: hidden;
        width: 0;
        height: 100%;
        animation: fade-in-out 4s infinite;
    }
}

@media (max-width: 600px) {
    .inicio-content h2 {
        font-size: 2.2rem;
        line-height: 3rem;
    }

    .inicio-content p {
        font-style: 0.8rem;
        line-height: 1.3rem;
    }

    .inicio-img {
        gap: 1rem;
    }

    .inicio-img > div {
        gap: 1rem;
    }

    .inicio-img > div > img {
        width: 16rem;
    }

    .tech-icon {
        width: 3.3rem;
        height: 3.3rem;
    }

    .tech-icon img {
        width: 2rem;
    }
}

@media (max-width: 320px){
    .inicio-img img {
        text-align: center;
        justify-content: center;
        width: 200px;
        height: 200px;
        display: flex;
        margin-right: 10px;
        flex-direction: column;
        align-items: center;
    }
}